$\textbf{DS 131 - DATA STRUCTURES and ALGORITHMS} \\ \text{1Q SY2324}$

$\text{Edgar M. Adina} \\ \textit{Instructor}$

## <center> DATA STRUCTURES - SETS

Another data type in Python is **sets**. It is a type that could store an unordered collection with no duplicate elements. It also supports the mathematical operations like union, intersection, difference, and symmetric difference. It is defined by using a pair of braces $\{ \}$, and its elements are separated by commas.

In [1]:
{3, 3, 2, 3, 1, 4, 5, 6, 4, 2}

{1, 2, 3, 4, 5, 6}

One quick usage of this is to find out the unique elements in a string, list, or tuple.

**Example:** Find the unique elements in list [1, 2, 2, 3, 2, 1, 2].

In [2]:
set_1 = set([1, 2, 2, 3, 2, 1, 2])
set_1

{1, 2, 3}

**Example:** Find the unique elements in tuple (2, 4, 6, 5,2).

In [3]:
set_2 = set((2, 4, 6, 5, 2))
set_2

{2, 4, 5, 6}

**Example:** Find the unique character in string “Mathematics”.

In [4]:
set('Mathematics')

{'M', 'a', 'c', 'e', 'h', 'i', 'm', 's', 't'}

We mentioned that sets support the mathematical operations like union, intersection, difference, and symmetric difference.

**Example:** Get the union of set_1 and set_2.

In [5]:
print(set_1)
print(set_2)

{1, 2, 3}
{2, 4, 5, 6}

In [ ]:
set_1.union(set_2)

**Example:** Get the intersection of set_1 and set_2.

In [6]:
set_1.intersection(set_2)

{2}

**Example:** Is set_1 a subset of {1, 2, 3, 3, 4, 5}?

In [7]:
set_1.issubset({1, 2, 3, 3, 4, 5})

True

### <center> EXERCISES

**1.** Get the unique element from (2, 3, 2, 3, 1, 2, 5).

In [8]:
set_1 = [2, 3, 2, 3, 1, 2, 5]
set_1

[2, 3, 2, 3, 1, 2, 5]

In [9]:
my_list = [2, 3, 2, 3, 1, 2, 5]
unique_elements = set(my_list)
unique_elements

{1, 2, 3, 5}

**2.** Assign (2, 3, 2) to *set_a*, and (1, 2, 3) to *set_b*. Get the following:

     (i) union of set_a and set_b

     (ii) intersection of set_a and set_b

     (iii) difference of set_a to set_b using difference method

In [10]:
set_a = {2, 3, 2}
set_b = {1, 2, 3}

In [11]:
union_result = set_a.union(set_b)
intersection_result = set_a.intersection(set_b)

In [12]:
difference_result = set_a.difference(set_b)
union_result, intersection_result, difference_result

({1, 2, 3}, {2, 3}, set())