$\textbf{DS 131 - DATA STRUCTURES and ALGORITHMS} \\ \text{1Q SY2324}$

$\text{Edgar M. Adina} \\ \textit{Instructor}$

## <center> DATA STRUCTURES - TUPLES

When working with data collections, we occasionally encounter situations where we want to ensure that it is impossible to change the sequence of objects after creation.

For instance, when reading data from a database in Python, we can represent each table record as an ordered and unchangeable sequence of objects since we don't need to alter the sequence later. Python has a built-in sequence data type to store data in an unchangeable object, called a **tuple**.

A tuple represents a sequence of any objects separated by commas and enclosed in parentheses. A tuple is an **immutable** object, which means it cannot be changed, and we use it to represent fixed collections of items. It is usually defined by using a pair of parentheses ( ) , and its elements are separated by commas.

**Example**

In [1]:
tuple_1 = (1, 2, 3, 2)
tuple_1

(1, 2, 3, 2)

As strings and lists, they way for indexing the tuples, slicing the elements, and even some methods are very similar.

**Example:** Get the length of tuple_1.

In [2]:
len(tuple_1)

4

**Example:** Get the elements from index 1 to 3 for tuple_1.

In [3]:
tuple_1[1:4]

(2, 3, 2)

**Example:** Count the occurrence for number 2 in tuple_1.

In [4]:
tuple_1.count(2)

2

You may ask, what’s the difference between lists and tuples? If they are similar to each other, why do we need another sequence data structure?

Though tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are *immutable*, and usually contain a *heterogeneous* sequence of elements that are accessed via unpacking  or indexing (or even by attribute in the case of named tuples). Lists are *mutable*, and their elements are usually *homogeneous* and are accessed by iterating over the list.

What does it mean by immutable? It means the elements in the tuple, once defined, they can not be changed. But elements in a list can be changed without any problem. For example:

In [5]:
list_1 = [1, 2, 3]
list_1[2] = 1
list_1

[1, 2, 1]

In [7]:
tuple_1[2] = 1

TypeError: 'tuple' object does not support item assignment

What does heterogeneous mean? Tuples usually contain a heterogeneous sequence of elements, while lists usually contain a homogeneous sequence. Let’s see an example, that we have a list that contains different fruits. Usually the name of the fruits could be stored in a list, since they are homogeneous. Now we want to have a data structure to store how many fruit do we have for each type, this is usually where the tuples comes in, since the name of the fruit and the number are heterogeneous. Such as (‘apple’, 3) which means we have 3 apples.

In [8]:
# a fruit list
['apple', 'banana', 'orange', 'pear']

['apple', 'banana', 'orange', 'pear']

In [ ]:
# a list of (fruit, number) pairs
[('apple', 3), ('banana', 4) , ('orange', 1), ('pear', 4)]

Tuples could be accessed by unpacking, it requires that the number of variables on the left side of the equals sign equals to the number of elements in the sequence.

In [9]:
a, b, c = list_1
print(a, b, c)

1 2 1

**Remark:** The opposite operation to unpacking is packing as shown in the following example. We could see that we don’t need the parentheses to define a tuple, but it is always good to have that.

In [10]:
list_2 = 2, 4, 5
list_2

(2, 4, 5)

#### Uses of Tuples - Tuple Element Swapping

We can use tuples to swap the values associated with variables only if the variables are tuple elements. Let’s try it out:

In [11]:
x = 19
y = 91
print('Before swapping:')
print(f'x = {x}, y = {y}')
(x, y) = (y, x)
print('After swapping:')
print(f'x = {x}, y = {y}')

Before swapping:
x = 19, y = 91
After swapping:
x = 91, y = 19

The value of $y$ is assigned to the $x$ variable, and the $x$ value is simultaneously assigned to the $y$. It’s a more Pythonic way to swap values.

#### Uses of Tuples - Returning More Than One Value from a Function

Functions can only return a single value. However, we can use a tuple and put as many values as we need inside it, then return the tuple object as the function’s return value. Let’s see how we can use a tuple to return multiple values from a function in the following code:

In [12]:
def sum_and_avg(x, y, z):
    s = x + y + z
    a = s/3
    return(s, a)
(S, A) = sum_and_avg(3, 8, 5)
print('Sum =', S)
print('Avg =', A)

Sum = 16
Avg = 5.333333333333333

The **sum_and_avg()** function calculates the sum and average of three numeric values. The function returns $s$ and $a$, which are the two values that it calculates, in the context of the tuple object. In fact, the function only returns a single value, which is a tuple object containing multiple values. We also used the tuple unpacking technique to extract the values in the returned tuple object, then print them out.

### <center> Exercises

**1.** Create a tuple 'adina' containing 10 'objects', then print it in reverse.

In [16]:
adina = (1, 'apple', 'banana', 42, 'cat', True, 'dog', 3.14, 'elephant', None)

In [14]:
adina_reverse = adina[::-1]

In [17]:
adina_reverse

('Tuple', None, True, 5.5, {'name': 'Adina'}, [3, 4], 'World', 'Hello', 2, 1)

**2.** Consider the following tuple: egay = ("Orange", [10, 20, 30], (5, 15, 25))

Retrieve and print the value 20.

In [18]:
egay = ("Orange", [10, 20, 30], (5, 15, 25))

In [19]:
value_20 = egay[1][1]

In [20]:
print(value_20)

20

**3.** Write a program to unpack the tuple 'ed = (10, 20, 30, 40)' into four variables and display each variable.

**Expected output:**

ed = (10, 20, 30, 40)


print(a) # should print 10

print(b) # should print 20

print(c) # should print 30

print(d) # should print 40

In [21]:
ed = (10, 20, 30, 40)

In [22]:
a, b, c, d = ed

In [23]:
print("ed =", ed)

ed = (10, 20, 30, 40)

In [24]:
print("a =", a)

a = 10

In [25]:
print("b =", b)

b = 20

In [26]:
print("c =", c)

c = 30

In [27]:
print("d =", d)

d = 40

**4.** Swap the following tuples: ed = (11, 22), ad = (99, 88)

In [29]:
ed = (11, 22)

In [30]:
ad = (99, 88)

In [31]:
ed, ad = ad, ed

In [32]:
print("ed =", ed)

ed = (99, 88)

In [33]:
print("ad =", ad)

ad = (11, 22)

**5.** Write a program to copy the elements 44 and 55 from the tuple (11, 22, 33, 44, 55, 66) into a new tuple.

In [34]:
original_tuple = (11, 22, 33, 44, 55, 66)

In [35]:
new_tuple = (original_tuple[3], original_tuple[4])

In [36]:
print(new_tuple)

(44, 55)

**6.** Consider the nested tuple (11, [22, 33], 44, 55). Write a program to modify the item '22' to '222'. Print the new tuple as (11, [222, 33], 44, 55).

In [37]:
nested_tuple = (11, [22, 33], 44, 55)

In [38]:
modified_tuple = (
    nested_tuple[0],
    [222, nested_tuple[1][1]],  # Modify the second element of the nested list
    nested_tuple[2],
    nested_tuple[3]
)

In [39]:
print(modified_tuple)

(11, [222, 33], 44, 55)

**7.** Sort the tuple (('a', 23),('b', 37),('c', 11), ('d',29)) of tuples by using the 2nd item.

In [40]:
original_tuple = (('a', 23), ('b', 37), ('c', 11), ('d', 29))

In [41]:
sorted_tuple = sorted(original_tuple, key=lambda x: x[1])

In [42]:
print(sorted_tuple)

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]